@import url("layout.css");
:root
{
	--start_color: rgba(205,26,120,1);
	--end_color: rgba(249,139,11,1);
	--body_height: 112vh;
	--masthead_height: 70px;
	--masthead_width: 524px;
	--footer_height: 35px;
	--nav_height: calc(var(--body_height) - var(--masthead_height) - var(--footer_height));
	--transition: 0.25s;
	--border_radius: 5px;
	--nav_width: calc(var(--nav_menu_width) + var(--nav_menu_arrow_width));
	--nav_menu_width: 215px;
	--nav_menu_arrow_width: 30px;
	--nav_height_adjust: 20px;
			
	--h1_title_font_size: 40px;
	--h3_title_font_size: 18px;

	--popup_background_color: color-mix(in srgb, var(--end_color), white 40%);

	--font_family: "Atkinson Hyperlegible", sans-serif;
	--font_weight: 400;
	--font_style: normal;
}
.gluten
{
	font-family: "Gluten", cursive;
	font-optical-sizing: auto;
	font-weight: 400;/*100 - 900;*/
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
.playwrite-gb-s
{
	font-family: "Playwrite GB S", cursive;
	font-optical-sizing: auto;
	font-weight: 100;/*100 - 400*/
	font-style: normal;
}
.playwrite-gb-j
{
	font-family: "Playwrite GB J", cursive;
	font-optical-sizing: auto;
	font-weight: 100;/*100 - 400*/;
	font-style: normal;
}
.atkinson-hyperlegible-regular 
{
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body 
{
	background-color: var(--end_color);
	width: var(--masthead_width);
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.container 
{
	margin: 10px;
	width: var(--masthead_width);
	height: 100%;
}
.masthead 
{
	display: block;
	width: var(--masthead_width);
	height: var(--masthead_height);
	background-image: linear-gradient(var(--start_color), var(--end_color));
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 0px 5px;
}
.masthead_table
{
	table-layout: auto;
	height: 100%;
	width: 100%;
	margin: 0px 0px 0px 5px;
	border-collapse: collapse;
}
.masthead_cell_heading
{
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	width: 268px;
	height: var(--masthead_height);
	padding: 0px;
}
.title_table
{
	table-layout: auto;
	border-style: solid;
	border-width: medium;
	border-color: white;
	border-radius: 3px;
	padding: 5px;
	width: 98%;
	height: 100%;
}
.masthead_cell_image_left
{
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	padding: 0px 0px 0px 4px;
	margin: 0px;
	width: 92px;
}
.masthead_cell_image_right1,
.masthead_cell_image_right2
{
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	width: 100px;
}
.masthead_cell_image_right2
{
	padding: 0px 0px 0px 2px;
}
.masthead_cell_sponsors
{
}
.masthead h1 
{
	color: white;
	font-weight: 500;
	font-size: var(--h1_title_font_size);
	margin: 0px;
	border-style: none;
	border-width: thin;
	padding-left: 5px;
	line-height: 0.89em;
}
.masthead h3 
{
	color: white;
	font-weight: 500;
	font-size: var(--h3_title_font_size);
	margin: 0px;
	border-style: none;
	border-width: thin;
	padding-left: 5px;
	line-height: 0.89em;
}
.masthead_image
{
	display: inline-block;
	border-style: solid;
	border-width: thin;
	border-color: white;
	border-radius: var(--border_radius);
	overflow: hidden;
	height: calc(var(--masthead_height) + 8px);
	margin: 0px;
}
.below_masthead
{
	display: block;
	width: 100%;
	height: calc(var(--body_height) - var(--masthead_height));
	margin-top: 5px;
}
.acknowledgment
{
	padding: 10px;
	border-radius: var(--border_radius);
	background-color: rgba(255, 227, 158, 1);
	width: 1000px;
	border-style: solid;
	border-width:thin;
	border-color: var(--end_color);
}
.content
{
	display: block;
	position: relative;
	left: -6px;
	max-height: var(--nav_height);
	min-height: var(--nav_height);
	width: calc(var(--masthead_width) - var(--nav_arrow_width));
	margin: 0px;
	margin-top: 10px;
	margin-left: 0px;
	padding: 10px;
	border: 2px solid var(--start_color);
	background-color: white;
	transition: var(--transition);
	border-radius: 0px var(--border_radius) 0px 0px;
	overflow: auto;
}
.navigation
{
	display: inline-block;
	float: left;
	width: var(--nav_arrow_width);
	height: calc(var(--nav_height) + var(--nav_height_adjust));
	max-height: calc(var(--nav_height) + var(--nav_height_adjust));
	margin-left: 10px;
	margin-top: 10px;
	background-color: /*white*/color-mix(in srgb, var(--end_color), white 40%);
	padding: 0px;
	white-space: nowrap;
	border-style: solid;
	border-width: 2px;
	border-color: var(--start_color);
	transition: var(--transition);
	border-radius: var(--border_radius) 0px 0px 0px;
	overflow: hidden;
}
.nav_image
{
	display: block;
	position: relative;
	margin: 5px;
}
.navigation_menu
{
	display: none;
	position: relative;
	top: 0px;
	height: calc(var(--nav_height) + var(--nav_height_adjust));
	max-height: calc(var(--nav_height) + var(--nav_height_adjust));
	width: 0%;
	overflow: auto;
	margin: 0px;
	border-style: none;
	transition: var(--transition);
	background-color: color-mix(in srgb, var(--start_color), white 80%);
}
.span_menu_text
{
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);
  	font-size: large;
	color: white;
}
.span_menu_text:focus
{
	color: black;
}
.masthead_hamburger
{
	color: white;
	font-size: 60px;
	font-family: var(--font_family);
	font-weight: 800;
}
.navigation_arrow
{
	display: inline-block;
	position: relative;
	left: 0px;
	background-color: var(--start_color);
	writing-mode: vertical-rl;
	text-orientation: upright;
	text-align: center;
	vertical-align: middle;
	height: calc(var(--nav_height) + var(--nav_height_adjust));
	max-height: calc(var(--nav_height) + var(--nav_height_adjust));
	width: var(--nav_arrow_width);
	padding: 2px;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
}
.navigation_arrow span:hover
{
	background-color: var(--start_color);
	color: silver;
	cursor: pointer;
}
.page_heading
{
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);
	color: var(--start_color);
	font-size: 30px;
	font-weight: bold;
}
.content h1,
.form h1,
.content h2,
.form h2,
.content h3,
.form h3,
.content h4,
.form h4,
.content h5,
.form h5,
.content h6,
.form h6
{
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);
	color: var(--start_color);	
	height: 40px;
	width: auto;
}
.content h1,
.form h1
{
	font-size: 26;
}
.content h2,
.form h2
{
	font-size: 22;
}
.content h3,
.form h3
{
	font-size: 18;
}
.content h4,
.form h4
{
	font-size: 14;
}
.content h5,
.form h5
{
	font-size: 10;
}
.content h6,
.form h6
{
	font-size: 6;
}
.addvert_table_cell
{
	width: 200px;
}
.time_table_header_cell
{
	background-color:var(--end_color);
}
.time_table_body_cell
{
	width: 120px;
}
/* Navigation Styles */
.navigation ul 
{
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.navigation li 
{
	display: block;
	margin: 0;
	padding: 0;
}
.navigation a
{
	color: var(--end_color);
	text-decoration: none;
	display: block;
	padding: 5px;
	
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);

	font-size: medium;
	font-weight: bold;
}
.navigation ul a:hover 
{
	color: var(--end_color);
	text-decoration: none;
	border: 1px solid var(--end_color);
	background-color: var(--start_color);
}
.donation_span
{
	color: black;
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);

	font-size: small;
	font-weight: normal;	
}
.donation_span a
{
	display: inline;
	font-size: small;
	font-weight: normal;
	color: Green;
}
.donation_span a:hover
{
	color: Olive;
}
.submenu_item
{
	
}
.submenu_item a
{
	font-size: small;
	font-weight: normal;
	padding-left: 15px;
	color: var(--start_color);
}
.content p,
.content caption,
.content td,
.content th,
.content li,
.content b,
.content pre,
.footer p,
.footer pre,
.footer a,
.PageContentsItem,
.footer_table_cell
{
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);
	font-size: medium;
}
.content b
{
	font-weight: 600;/*100 - 900*/;
}
.form_voice_assist_button
{
	background-color: transparent!important;
	border: none!important;
}
.form_voice_assist
{
	display: none;
	position: fixed; /* Positions the element relative to the browser window */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centers the popup */
	z-index: 1000; /* Ensures it is above other elements */
}
.instruction_popup
{
	display: none;
	position: fixed; /* Positions the element relative to the browser window */
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centers the popup */
	z-index: 1000; /* Ensures it is above other elements */

	background-color: var(--popup_background_color);
	border-style: solid;
	border-width: medium;
	border-color: var(--start_color);
	border-radius: var(--border_radius);
	padding: 10px;
	max-height: 400px;
	overflow: auto;

	width: 100vw;
	height: 100vw;
	/*right: 50%;
	margin-left: -5vw;
	margin-right: -5vw;*/
}
.instruction_popup pre,
.instruction_popup p pre
{
	background-color: LightGoldenRodYellow;
}
.blink_faster
{
	animation: flash 3s infinite;
}
.blink
{
	animation: flash 5s infinite;
}
@keyframes flash 
{
  0%, 90%, 100% { opacity: 1; }
  48%, 52% { opacity: 0; }
}
.footer 
{
	position: relative;
	top: -1px;	
	text-align: center;
	clear: both;
	width: calc(100% - 8px);
	height: var(--footer_height);
	width: var(--masthead_width);
	margin-left: 10px;
	padding-top: 8px;
	background-color: var(--start_color);
	border-radius: 0px 0px var(--border_radius) var(--border_radius);
	margin: 0px 0px 5px 10px;
	margin: 
	overflow: hidden;
}
footer_table
{
	table-layout: fixed;
	width: 100%;
	height: 100%;
	border: thin lime none
}
.footer_table_cell
{
	padding: 0px 0px 0px 0px;
	font-size: 8px;
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: middle;
	border: thin lime none
}
.footer_left_cell
{
	width: 20%;
}
.footer_middle_cell
{
	width: 55%;
}
.footer_right_cell
{
	width:25%;
}
.footer p 
{
	margin-top: 5px;
}
.footer a 
{
	font-weight: 600;/*100 - 900;*/
	font-style: normal;
	color: var(--end_color);
	text-decoration: underline;
}
.footer a:hover 
{
	color: var(--end_color);
	text-decoration: none;
}
.PageContentsItem
{
  	font-weight: 600;/*100 - 900;*/
	color: var(--start_color);

}
.PageContentsItem:hover
{
	cursor: pointer;
}
.donation_form,
.upload_form,
.update_menu,
.form
{
	background-color: #E1E1E1;
	border-style: outset;
	border-width: 2px;
	padding: 20px;
	border-radius: 5px;
	width: 700px;
}
.donation_form
{
	width: 1000px!important;
}
.update_menu_form
{
	width: 500px!important
}
.upload_form
{
	width: 500px!important;
}
.form table
{
	width: 100%;
	border-style: none;
	border-collapse: collapse;
	border-width: medium;
	border-color: black;
}
.form td
{
	text-align: left;
	vertical-align: middle;
	padding-bottom: 10px;
	padding-right: 5px;
}
.form input[type=submit],
.form input[type=button],
.form input[type=reset],
.form button,
.form_voice_assist_button input[type=submit],
.form_voice_assist_button input[type=button],
.form_voice_assist_button input[type=reset],
.form_voice_assist_button button,
p input[type=submit],
p input[type=button],
p input[type=reset],
p button,
.instructions_button,
.email_button
{
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	background-color: silver;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-weight: bold;
	padding: 5px;
	border-color: #DFDFDF #888888 #888888 #DFDFDF;
	cursor:pointer;
	
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);
	font-size: small;
}
.form input[type=submit]:active,
.form input[type=button]:active,
.form input[type=reset]:active,
.form button:active,
.form_voice_assist_button input[type=submit]:active,
.form_voice_assist_button input[type=button]:active,
.form_voice_assist_button input[type=reset]:active,
.form_voice_assist_button active,
p input[type=submit]:active,
p input[type=button]:active,
p input[type=reset]:active,
p button:active,
.instructions_button:active,
.email_button:active
{
	border-color: #888888 #DFDFDF #DFDFDF #888888!important
}	
.form input[type=submit]:disabled,
.form input[type=button]:disabled,
.form input[type=reset]:disabled,
.form button:disabled,
.form_voice_assist_button input[type=submit]:disabled,
.form_voice_assist_button input[type=button]:disabled,
.form_voice_assist_button input[type=reset]:disabled,
.form_voice_assist_button button:disabled,
p input[type=submit]:disabled,
p input[type=button]:disabled,
p input[type=reset]:disabled,
p button:disabled,
.instructions_button:disabled,
.email_button:disabled
{
	color: gray;
}
.small_button
{
	font-size: x-small;
	padding: 0px;
}
.form textarea,
.form select,
.form input[type=text],
.forminput[type=password]
{
	width: 40ch;
	border-style: inset;
	resize: none;
	border-radius: 3px;
	border-width: 2px;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	border-top-color: #D2D2D2;
	border-left-color: #D2D2D2;
	
	font-family: var(--font_family);
  	font-weight: var(--font_weight);
  	font-style: var(--font_style);
	font-size: small;
}
.form label
{
	font-weight: bold;
	font-size: small;
}
.style_bold 
{
	font-weight: bold;
}
.style_italic 
{
	font-style: italic;
}
.donate_image
{
	position: relative;
	float: left;
	width: 80px;
	margin-right:5px;
	margin-top: 5px;
}

.contents_cell			
{
	background-color: var(--end_color);
	border-radius: 10px;
	vertical-align: middle;
	width: 100px;
}	

.contents_cell a
{
	color: var(--start_color);
}

.table_cell
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
}

.table_cell a
{
	text-decoration-color: var(--start_color);
}

.table_cell a:hover
{
	text-decoration-color: var(--start_color);
	color: inherit;
}

.link_image
{
	width: 500px;
}

.cycling_img_container
{
	position: relative;
	overflow: hidden; /* Hides the incoming slide while it is off-screen */
	margin: 0 auto;
	height: 200px;
	
	border-style: none;
	border-width:thin;
	border-color: green;
}

.cycling_img_container img
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	margin: 0px auto 0px auto;
	height: 200px;
}

.activities_container img
{
	animation: cycleActivities 65s infinite linear;
	animation-delay: calc(5s * (sibling-index() - 1)); /* TOTAL SECONDS = 14 images x 5s each = 70s*/
}

/*
	* Each image display for 5s
	* 13 images
	* Total time is 13 x 5s = 65s
*/

@keyframes cycleActivities
{
 	0% { opacity: 0; }
  	/* Fade-in over 1 second (1s / total seconds) */
  	1.54% { opacity: 1; }
  	/* Stay visible for 5 seconds (4s / total seconds) */
  	7.69% { opacity: 1; }
  	/* Fade-out over 1 second (5s / total seconds) */
  	7.69% { opacity: 0; }
  	/* Stay hidden for the rest of the loop */
  	100% { opacity: 0; }
}

.services_container img
{
	animation: cycleServiceProviders 35s infinite linear;
	cursor: pointer;
	animation-delay: calc(5s * (sibling-index() - 1)); /* TOTAL SECONDS = 7 images x 5s each = 35s*/
}

/*
	* Each image display for 5s
	* 7 images
	* Total time is 7 x 5s = 35s
*/

@keyframes cycleServiceProviders
{
	0% { opacity: 0; }
	/* Fade in over 1 second (1s / 35s) */
	2.86% { opacity: 1; }
	/* Stay visible for 4 seconds (4s / 35s) */
	11.43% { opacity: 1; }
	/* Fade out over 1 second (5s / 35s) */
	14.29% { opacity: 0; }
	/* Stay hidden for the rest of the loop */
	100% { opacity: 0; }
}

.sponsors_container
{
	position: relative;
	overflow: hidden; /* Hides the incoming slide while it is off-screen */
	margin: 0px;
	padding: 0px;
	height: calc(var(--masthead_height) + 8px);
	width: 225px;
	border: thin lime none;
}

.sponsors_container img
{
	position: absolute;
	top: 1px;
	left: 5px;
	opacity: 0;
	border-radius: var(--border_radius);
	border: thin white none;
	max-width: 100%;
	max-height: 100%;
	display: block; /* Removes unwanted baseline text spacing */
}

.sponsors_container img
{
	animation: cycleSponsors 140s infinite linear;
	cursor: pointer;
	animation-delay: calc(10s * (sibling-index() - 1)); /* TOTAL SECONDS = 14 images x 10s each = 140s*/
}

/*
	* Each image display for 10s
	* 15 images
	* Total time is 15 x 10s = 150s
*/

@keyframes cycleSponsors
{
 	0% { opacity: 0; }
  	/* Fade-in over 1 second (1s / 150s) */
  	0.67% { opacity: 1; }
  	/* Stay visible for 8 seconds (8s / 150s) */
  	5.33% { opacity: 1; }
  	/* Fade-out over 1 second (10s / 150s)*/
  	6.67% { opacity: 0; }
	/* Stay hidden for the rest of the loop */
  	100% { opacity: 0; }
}

